.inc {
	color: green;
}
.dec {
	color: red;
}
.dim {
	opacity: 0.55;
}

table {
	border-collapse: collapse;
}
tr {
	border-bottom: 1px solid lightgray;
}
tr:hover {
	background-color: #EEE;
}
td {
	padding: 2px 12px;
}
td.diff {
	padding-right: 6px;
}
td.val {
	padding-left: 6px;
}

tr.collapsable td.name:hover {
	background-color: #DDD;
}
tr.collapsable td.name .inner {
	position: relative;
}
tr.collapsable td.name .inner::before {
	content: '▼';
	position: absolute;
	left: 0;
	transform: translateX(-14px);
	transition: transform 0.1s ease;
}
tr.collapsable.collapsed td.name .inner::before {
	transform: translateX(-14px) rotate(-90deg);
}

tr.node.created {
	background-color: rgb(195, 255, 195);
}
tr.node.removed {
	background-color: rgb(255, 185, 185);
}

td.asize,
td.dsize,
td.files {
	text-align: right;
	white-space: nowrap;
}
